@use "../../../styles/variables.scss";

.graph_container {
  background-color: #222222;
  width: 100%;
  position: relative;
  flex: 1;

  &.fullscreen {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .graph_button_container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    margin: 0.8rem;
    height: calc(2 * 2rem);

    .graph_button {
      background-color: transparent;
      border: none;
    }

    * {
      line-height: 0;
    }

    .arrow_button_rotator_container {
      &[data-direction="RL"] {
        transform: rotate(180deg);
      }

      &[data-direction="LR"] {
        transform: rotate(0);
      }

      &[data-direction="DU"] {
        transform: rotate(270deg);
      }

      &[data-direction="UD"] {
        transform: rotate(90deg);
      }
    }
  }

  .graph_summary_container {
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.6rem;
    background-color: #001b3d;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & > div {
    height: 100%;
  }
}
