@use "../styles/variables.scss";

.satisfactoryAppContainer {
  font-size: 1.6rem;
  width: 100%;
  overflow: hidden;
  padding-left: variables.$navSideBarWitdthSmall;
  background-color: #000;
  color: #fff;
  height: 100svh;
  display: flex;
  flex-direction: column;

  .mainContainer {
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex: 1;
  }

  .footerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
