@use "../../../styles/variables.scss";

.input_container {
  position: sticky;
  top: 0;
  background-color: #000;
  color: #eeeeee;
  padding-block: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  z-index: 9;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
