@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-size: 1.6rem;
}
