@use "../../../styles/variables.scss";

.recipe_calculator_container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 4rem;

  .item_minute_input {
    width: 100px;
    border: 0.2rem solid #222222;
    color: #eeeeee;
    background-color: #40413c;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
  }
}
