@use "../../../styles/variables.scss";

.dropdown_language_label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;

  span {
    font-size: 1.2rem;
    color: #dedfe8;
    font-style: italic;
  }
}
