@use "../../../styles/variables.scss";

.one_recipe_container {
  gap: 0.8rem;
  padding: 0.8rem;
  background-color: #222222;

  .recipe_title {
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #fa9549;

    .duplicated_recipe {
      border-radius: 0.4rem;
      padding: 0.2rem 0.8rem;
      margin-inline: 0.8rem;
      font-weight: 500;
      font-size: 1.2rem;
      background-color: #c13a33;
      color: #f4d8d7;
    }
  }

  .one_recipe {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .resource_group {
      display: flex;
      gap: 0.8rem;
      flex-shrink: 0;

      .resource_in_out {
        position: relative;
        padding: 0.4rem;
        border-radius: 0.4rem;
        overflow: hidden;
        background-color: #dedfe8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .resource_icon {
          width: calc(2 * 2rem);
          height: calc(2 * 2rem);
        }

        .resource_count {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 2rem;
          padding-inline: 0.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #222222;
          background-color: #5f668c;
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.4rem;
          border-top-left-radius: 0.4rem;
        }
      }
    }

    .arrow_container {
      transform: rotate(90deg);
    }

    .recipe_info {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem 2.4rem;

      .recipes_one_info {
        color: #fa9549;
        font-weight: 500;
      }
    }
  }
}
