.testDisplayContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .testTable {
    border-collapse: collapse;

    td {
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      border: 0.1rem solid #6c6c6c;
      padding: 0.5rem 1rem;
    }
  }
}
