.notFoundPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .linkToHomepageText {
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
