@use "@styles/variables";

.one_recipe_container {
  gap: var(--theme-spaceS);
  padding: var(--theme-spaceS);
  background-color: var(--theme-colorBlack);

  .recipe_title {
    font-weight: 500;
    margin-bottom: var(--theme-spaceXS);
    color: var(--theme-colorPrimaryHue);

    .duplicated_recipe {
      border-radius: var(--theme-spaceXS);
      padding: var(--theme-spaceXXS) var(--theme-spaceS);
      margin-inline: var(--theme-spaceS);
      font-weight: 500;
      font-size: var(--theme-sizeXS);
      background-color: var(--theme-colorDestructiveHue);
      color: var(--theme-colorDestructiveLight);
    }
  }

  .one_recipe {
    display: flex;
    align-items: center;
    gap: var(--theme-spaceM);

    .resource_group {
      display: flex;
      gap: var(--theme-spaceS);
      flex-shrink: 0;

      .resource_in_out {
        position: relative;
        padding: var(--theme-spaceXS);
        border-radius: var(--theme-spaceXS);
        overflow: hidden;
        background-color: var(--theme-colorNeutralLight);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .resource_icon {
          width: calc(2 * var(--theme-spaceXL));
          height: calc(2 * var(--theme-spaceXL));
        }

        .resource_count {
          position: absolute;
          bottom: 0;
          right: 0;
          height: var(--theme-spaceXL);
          padding-inline: var(--theme-spaceXS);
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--theme-colorNeutralContent);
          background-color: var(--theme-colorNeutralHue);
          font-weight: 700;
          font-size: var(--theme-sizeS);
          line-height: var(--theme-sizeS);
          border-top-left-radius: var(--theme-spaceXS);
        }
      }
    }

    .arrow_container {
      transform: rotate(90deg);
    }

    .recipe_info {
      display: flex;
      flex-wrap: wrap;
      gap: var(--theme-spaceXS) var(--theme-spaceXXL);

      .recipes_one_info {
        color: var(--theme-colorPrimaryHue);
        font-weight: 500;
      }
    }
  }
}
