name: Build & Push Frontend Docker Image

on:
  push:
    tags:
      - "*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        env:
          VITE_API_ADRESS: ${{ secrets.VITE_API_ADRESS }}
        run: |
          IMAGE=ghcr.io/alexandre-richard/reunification-frontend:${GITHUB_REF_NAME}
          docker build \
            --build-arg VITE_API_ADRESS="${{ secrets.VITE_API_ADRESS }}" \
            -t $IMAGE .
          docker push $IMAGE
